

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
    @*farklı layout çağırabilmek için https://www.youtube.com/watch?v=g25GEVaaT3s adresindeki videodan faydalandım*@
}

<h1>Index</h1>

