@using Microsoft.AspNetCore.Identity
@inject SignInManager<Project_Admin.Models.Userr> SignInManager
@inject UserManager<Project_Admin.Models.Userr> UserManager


    @if (SignInManager.IsSignedIn(User))
    {
        <li class="text-sm-left">
            <a class="" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="text-left">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                
                <button type="submit" class="">Logout</button> 
            </form>
        </li>
    }
    else
    {
        
            <li class="text-left">
                <a class="" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="text-left">
                <a class="" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
            
            }
